In [1]:
#Importing libraries

import pandas as pd
import numpy as np
import os

In [3]:
#Import the dataframe 'customers'
#Create a path

path = r'/Users/alexbor/Desktop/Data Analytics/Immersion/Submissions/Instacart Basket Analysis'

#Import the df 

ords_prods_cust_merge = pd.read_pickle(os.path.join(path, '02 Data ', 'Prepared data', 'ords_prods_cust_merge.pkl'))

In [6]:
#Create a cross table for 'days_since_prior_order' and 'order_number'

crosstab = pd.crosstab(ords_prods_cust_merge['days_since_prior_order'], ords_prods_cust_merge['order_number'], dropna = False)

In [8]:
#Save the cross table to clipboard

crosstab.to_clipboard()

In [11]:
ords_prods_cust_merge.head()

,user_id,First Name,Last Name,Gender,STATE,Age,date_joined,Number of dependants,fam_status,income,...,price_range_loc,busiest day,busiest_period_of_day,max_order,loyalty_flag,mean_prices,spender_type,median_days_since_prior_order,user_activity,_merge
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Mid-range product,Busiest day,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Mid-range product,Regularly busy,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Mid-range product,Busiest day,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Low-range product,Regularly busy,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Low-range product,Least busy,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both