# Combining 'df_ords' with 'order_products_prior'

In [1]:
#Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#Set path

path = r'/Users/alexbor/Desktop/Data Analytics/Immersion/Submissions/Instacart Basket Analysis'

In [32]:
#Import dataframes

df_ords_prior = pd.read_csv(os.path.join(path, '02 Data ', 'Original data', 'order_products__prior.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path, '02 Data ', 'Prepared data', 'orders_new.csv'), index_col = False)

In [33]:
#Check dimensions of the df 

df_ords_prior.shape

(32434489, 4)

In [34]:
#Check dimensions of df_ords 

df_ords.shape

(3421083, 9)

In [35]:
#Check the appearance of df_ords_prior 

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [36]:
#Check the appearance of df_ords

df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,orders_time,days_since_prior_order
0,0,0,2539329,1,prior,1,2,8,NaN
1,1,1,2398795,1,prior,2,3,7,15.0
2,2,2,473747,1,prior,3,3,12,21.0
3,3,3,2254736,1,prior,4,4,7,29.0
4,4,4,431534,1,prior,5,4,15,28.0

In [37]:
df_ords = df_ords.drop(columns = ['Unnamed: 0.1', 'Unnamed: 0','eval_set'])

In [38]:
df_ords.shape

(3421083, 6)

In [26]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,orders_time,days_since_prior_order
0,2398795,1,2,3,7,15.0
1,473747,1,3,3,12,21.0
2,2254736,1,4,4,7,29.0
3,431534,1,5,4,15,28.0
4,3367565,1,6,2,7,19.0

# Merging

In [39]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [40]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,orders_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [41]:
#Checking value counts of '_merge'

df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# Exporting data as pickle

In [43]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data ','Prepared Data', 'orders_products_combined.pkl'))