In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [3]:
df = pd.read_csv(r'/Users/alexbor/Desktop/Data Analytics/Immersion/Submissions/Instacart Basket Analysis/02 Data /Original data/orders.csv', index_col = False)

In [4]:
df['order_id'].memory_usage(index=False, deep=True)

27368664

In [5]:
df['order_id'].max()

3421083

In [6]:
df['order_id'].min()

1

In [ ]:
df = pd.read_csv("orders.csv", dtype={"order_id ": "int8"})

# checking memory usage // when choosing just some columns, less memory is used

In [8]:
df.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Columns: 7 entries, order_id to days_since_prior_order
dtypes: float64(1), int64(5), object(1)
memory usage: 358.8 MB

# show only these columns

In [12]:
df = df[['order_id', 'user_id']]

In [13]:
df.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Columns: 2 entries, order_id to user_id
dtypes: int64(2)
memory usage: 52.2 MB

In [14]:
df.head()

   order_id  user_id
0   2539329        1
1   2398795        1
2    473747        1
3   2254736        1
4    431534        1

# To check for empty values

In [15]:
series = df['order_id']

In [16]:
series.memory_usage(index=False, deep=True)

27368664

In [17]:
len(series)

3421083

In [18]:
 len(series.dropna())

3421083