# Importing the 'orders_products_combined.pkl' file

In [1]:
#Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#Create a path

path = r'/Users/alexbor/Desktop/Data Analytics/Immersion/Submissions/Instacart Basket Analysis'

In [3]:
#Import the pickle file with orders

df_merged_large = pd.read_pickle(os.path.join(path, '02 Data ', 'Prepared data', 'orders_products_combined.pkl'))

In [4]:
#Checking the shape of the file

df_merged_large.shape

(32434489, 10)

In [5]:
#Checking the appearance of the dataframe 'df_merged_large'

df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,orders_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

# Merging the 'orders_products_combined' with the products data set

In [6]:
#Importing the dataframe 'products_checked'
df_prods = pd.read_csv(os.path.join(path, '02 Data ', 'Prepared data', 'products_checked.csv'), index_col = False)

In [7]:
#Checking the data shape
df_prods.shape

(49672, 6)

In [8]:
#Checking the appearance of the dataframe 'prods'

df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

**There are significantly less rows in the 'prods' df, so I will use the inner join.**

In [9]:
#I deleted the column "_merge" from the 'df_merged_large', otherwise there is an error 
#(can't be two mark columns in the new merged df)
df_merged_large = df_merged_large.drop(columns=['_merge'])

In [10]:
#Merging 

df_orders_products_merged = df_prods.merge(df_merged_large, on = 'product_id', indicator = True)

In [11]:
#Checking the shape of the new df
df_orders_products_merged.shape

(32404859, 15)

In [12]:
#Checking the appearance 
df_orders_products_merged.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,orders_time,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [13]:
#Checking value counts of '_merge'

df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

# Exporting the new dataframe 'df_orders_products_merged'

In [14]:
# Export data to pkl

df_orders_products_merged.to_pickle(os.path.join(path, '02 Data ','Prepared Data', 'orders_products_merged_finall.pkl'))